* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* color: #e5e1e1; */
}

body {
  background: url("/img/back3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  height: 145px;
  text-align: center;
  border-bottom: 1px solid #e5e1e1;
  padding-bottom: 19px;
}

.header_logo h1 {
  font: bold 40px "arial";
  padding-top: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.header_logo p {
  font: bold 12px "arial";
  margin-top: -1px;
  color: #fff;
}

.header__gnb ul {
  margin-top: 39px;
}

.header__gnb ul li {
  display: inline-block;
}

.header__gnb ul li a {
  display: block;
  font: bold 14px "arial";
  color: #fff;
  margin: 0px 16px;
  letter-spacing: 1px;
}

.user {
  float: right;
  margin-right: 95px;
}

/* 버튼 상단 부분 */
button {
  width: 50%;
  height: 300px;
  margin-left: 300px;
  margin-top: 70px;
  border-radius: 20px;
  border: 5px solid rgb(227, 217, 217);
  background-color: rgb(227, 217, 217);
  box-shadow: 5px 5px 5px 5px rgb(9, 9, 9);
  font-size: 70px;
  font-weight: bold;
}

img {
  margin-top: 90px;
  text-align: center;
  width: 80%;
  height: 600px;
  margin-left: 145px;
  margin-bottom: 50px;
}
