* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* 전체 배경화면 */
body {
  height: 100vh;
  background: url("/img/back.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 50px;
  margin-left: 130px; */
  width: 90%;
}

/* 프로필 카드 */
.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

/* 프로필 카드 헤더  */
.card-header {
  /* background: #2c3a47; */
  background: transparent;
  border: 2px solid #fff;
  /* border-radius: 20px; */
  backdrop-filter: blur(0.9375rem);
  padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  margin: 20px 0;
  padding-top: 20px;
}

.card-footer {
  background: #fff;
  padding: 60px 10px;
}

.numbers {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
}

.item span {
  display: block;
  color: black;
  font-size: 30px;
}

.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}

/* 게시판 부분 */
table {
  border-collapse: collapse;
}

caption {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.board-list-wap {
  margin-left: 180px;
}

.board_list {
  width: 200%;
  margin-left: -70px;
  justify-content: center;
  border: 2px solid #fff;
  color: black;
}

.board_list th,
.board_list td {
  border-bottom: 2px solid #fff;
  background-color: #d9b7d2;
  padding: 10px;
  width: 5px;
  text-align: center;
}

.board_list tbody tr td:nth-child(2):hover {
  text-decoration: underline;
}
