* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #e5e1e1;
}

body {
  background: url("/img/back3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

.header {
  height: 145px;
  text-align: center;
  border-bottom: 2px solid #e5e1e1;
  padding-bottom: 19px;
}

.header_logo h1 {
  font: bold 40px "arial";
  padding-top: 14px;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.header_logo p {
  font: bold 12px "arial";
  margin-top: -1px;
}

.header__gnb ul {
  margin-top: 39px;
}

.header__gnb ul li {
  display: inline-block;
}

.header__gnb ul li a {
  display: block;
  font: bold 14px "arial";
  color: #e5e1e1;
  margin: 0px 16px;
  letter-spacing: 1px;
}

.user {
  float: right;
  margin-right: 95px;
}

/* 게시판부분 */

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 제목부분 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

.board_title {
  margin-bottom: 30px;
}

.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

/* 버튼 */
.bt_wrap {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid#e5e1e1;
  border-radius: 2px;
  font-size: 1.2rem;
  margin-bottom: 150px;
}

.bt_wrap a:first-child {
  margin-left: 0;
}

.bt_wrap a.on {
  background-color: #e5e1e1;
  color: black;
  font-weight: bold;
  float: right;
}

.bt_wrap a.left {
  float: right;
}

.bt_wrap a.right {
  float: right;
  background-color: #e5e1e1;
  color: black;
  font-weight: bold;
}

.board_view > div.top {
  border-bottom: 1px solid #ddd;
}

.board_view > div:last-child {
  border-bottom: 1px solid e5e1e1;
}

.board_view > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board_view > div.top > div {
  font-weight: 600;
}

.board_view .num {
  width: 10%;
}

.board_view.title {
  width: 50%;
  text-align: center;
}

.board_view.top {
  font-weight: bold;
  font-size: 1.4rem;
}

.board_view.top .title {
  text-align: center;
}
.board_view.writer {
  width: 10%;
}

.board_view.date {
  width: 10%;
}

.board_view .count {
  width: 10%;
}

.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 2px solid #e5e1e1;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color: gray;
  background-color: gray;
}

.board_page a:first-child {
  border-left: 2px solid #e5e1e1;
}

/* view  부분 */
.board_view {
  width: 100%;
  border-top: 2px solid #e5e1e1;
}

.board_view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.board_view .info {
  padding: 15px;
  border-bottom: 2px solid #ddd;
  font-size: 0;
}

.board_view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.board_view .info dl:first-child {
  padding-left: 0;
}

.board_view .info dl::before {
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 13px;
  background: #ddd;
}

.board_view .info dl:first-child::before {
  display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
  display: inline-block;
  font-size: 1.4rem;
}

.board_view .info dl dd {
  margin-left: 10px;
}

.board_view .cont {
  padding: 15px;
  border-bottom: 2px solid #e5e1e1;
  line-height: 160%;
  font-size: 1.4rem;
}

/* 댓글  css */
.container {
  width: 98%;
  border: 3px solid #bbb;
  border-radius: 20px;
  padding: 15px 10px;
  margin-top: 100px;
}

.container h2 {
  margin-top: 10px;
  margin-left: 10px;
  color: #bbb;
  font-size: 30px;
}

/* 댓글 입력하는 부분 */
textarea {
  height: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
  font-size: 15px;
}

/* 버튼 부분 */
input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #bbb;
  width: 90px;
  height: 40px;
}

input[type="submit"] {
  color: black;
  background-color: #fff;
  margin-left: 780px;
}

button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}
